*
{
    margin: 0;
    
    padding: 0;
   
}
.start
{
    display:flex;
    
}
.nav

{
    display: flex;
    width: 90px; 
   background-color: #111111;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0px;
    z-index: 1000;
    background: linear-gradient(to bottom, #0f0c39, #302b90, #24243e);;
    height: 100vh;
    
}
.left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.left a
{
    text-decoration: none;
    font-family: 'roboto';
    font-size: 7px;
    padding-top: 3px;
    color: aliceblue;
    
}

.left i
{
    font-size: 27px;
   
}
.home
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.home:hover
{
   /* background-color: thistle;*/
   background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    opacity: 0.5;
    padding: 5px;
}

.right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
    position: relative;
    bottom: 40px;
}
.right:hover
{
   background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
   padding: 15px;
   margin-bottom: 10px;
   opacity: 0.5;
}
.right a
{
    text-decoration: none;
    font-size: 7px;
    color: aliceblue;
    padding-top: 3px;
}
.right i
{
    font-size: 27px;
}

.section
{
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 91.3%;
    height: 100%;
   
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 7px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;
}

.part-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  /*  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;*/
}
.part-1 .logo
{
   
   
    margin-left: 20px;
    width: 118px;
    height:107px;
    
}
.part-1 .women
{
   
   
    margin-right: 30px;
    width: 118px;
    height:107px;
    
}
.part-1 p
{
    color:white;
    font-family: 'roboto';
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}
.part-2
{
    margin-left: 100px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 91.3%;
   
}
.part-2 .prev
{
   font-size: 50px;
   position: absolute;
   top:50%;
   left: 10%;
  /* border: 1px solid white;*/
   border-radius: 50px;
   background-color: #0078d0;
   background-image: linear-gradient(135deg, #221001,#221003);
   padding: 10px;
   cursor: pointer;
   color: white;
   overflow: hidden;
   background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;
   
   
}










.part-2 .next
{
    font-size: 50px;
    position: absolute;
    top:50%;
    right: 3%;
   /* border: 1px solid white;*/
   border-radius: 50px;
  /* background-color: black;*/
   padding: 10px;
   cursor: pointer;
   color: aliceblue;
   background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;

}
.img-1
{
    display: none;
}

.part-3
{
    margin-left: 100px;
    margin-right: 10px;
    
    margin-top: 10px;
    width: 91.3%;
    padding-bottom: 90px;
  /* background-color: #ececec;*/
   background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.part-3 h4
{
    font-family: 'roboto';
    text-align: center;
    font-size: 30px;
   

    padding-top: 30px;
    color: white;
   
    
    
}
.part-3 span
{
    margin-left: 8px;
   
}
.part-3 img
{
     width: 120px;
     height: 122px;
     cursor: pointer;
    
}
.part-3 img:hover
{
    opacity: 0.5;
}
.part-3 p
{
    font-family: 'roboto';
    text-align: center;
    font-size: 15px;
    letter-spacing:2px;
    color: white;
}

.top
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
   

}
.bottom
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 30px;
}
.bully img
{
    margin-left: 17px;
}
.rape img
{
    margin-left: 53px;
}
.bully p
{
    margin-left: 17px;
}
.harrase img
{
    padding-right: 50px;
    margin-left: 10px;
}
.harrase p{
    padding-right: 40px;
}




.lt
{
    margin-top: 78px;
}
.lt input
{
    height: 40px;
    outline: none;
    background-color: #e0dede;
    padding-left: 5px;
    margin-top: 8px;
    border: none;
    border-radius: 30px;
}
.lt textarea
{
    outline: none;
    background-color: #e0dede;
    margin-top: 8px;
    border-radius: 30px;
}
.name
{
    position: absolute;
    right: 620px;
   
    top:1185px
   
}
.address
{
    width:99% ;
}
form
{
    margin-top: 15px;
}

form p
{
    color: aliceblue;
    font-family: 'roboto';
}
.lt button
{
    padding: 15px;
    color: white;
    outline: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'roboto';
    font-weight: 600;
    background-color: #573b8a;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.lt button:hover
{
   background-color: #673fb1;
   /* opacity: 0.5;*/
   padding:17px;
   padding-left: 30px;
   padding-right: 30px;
 
}
.lt .feed
{
    font-size: 30px;
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 30px;
    font-weight: 600;
}
.feed span
{
    padding-left: 20px;
}
.rt
{
    margin-top: 75px;
}

.rt h4
{
    color: aliceblue;
    font-family: 'roboto';
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
.rt img
{
    width: 300px;
    height: 300px;
    border-radius: 40px;
    margin-top: 40px;

}
.social
{
    margin-top: 30px;
    text-align: center;
}

.social .face
{
    color:white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 25px;
    margin: 7px;
    background-color:#3b5998;
    
}
.social .face:hover
{
    background-color:#3b5998;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
}
.social .twi
{
    color:white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    
    font-size: 25px;
    margin: 7px;
    background-color:#00aced;
  
  
}
.social .twi:hover
{
    background-color:#00aced;
    padding:10px;
    
}
.social .insta
{
    color:white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
   
    font-size: 25px;
    margin: 7px;
   
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  
}
.social .insta:hover
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  
    padding:10px;
    
}
.social .youtube
{
    color:white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    background-color: red;
    font-size: 25px;
    margin: 7px;
    
  
  
}
.social .youtube:hover
{
    background-color:red;
    padding:10px;
    
}
.social .linke
{
    color:white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    background-color: #0A66C2;
    font-size: 25px;
    margin: 7px;
    
}
.social .linke:hover
{
    background-color:#0a66c2;
    padding:10px;
    
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 91.4%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    margin-left: 100px;
    margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
