<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="landing.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="part-1">
        <img class="women" src="women.png">
        
        <p>Madhav Institute of Technology &amp; Science, Gwalior (M.P.), INDIA 
          <br>
          
            माधव प्रौद्योगिकी एवं विज्ञान संस्थान, ग्वालियर (म.प्र.), भारत 
        </p>
        <img class="logo" src="mits logo.png">
       
    </div>
  
     
  
     
      <!------------------------------------------------------------------------------------------->
      <div class="section">
        <p>Online <span>GIRLS</span>Complain PORTAL</p>
          <img src="land_page_image.png">
      </div>
      <!-------------------------------------------------------------------------------------------->
      <div class="losign">
      <div class="signup">
        <a href="/signup"><i class="fa fa-sign-in"></i></a>
        <a class="sign" href="/signup">Sign Up for user</a>
      </div>
      <div class="login">
        <a href="/admindash"><i class="fa fa-user"></i></a>
        <a class="log" href="/admindash">Login for admin</a>
      </div>
      </div>
      <footer>
        
        <h5>Follow Us</h5>
        <div class="social">
         
          <a class="face" href="#"><i class="fa fa-facebook"></i></a>
          <a class="twi" href="#"><i class="fa fa-twitter"></i></a>
          <a class="insta" href="#"><i class="fa fa-instagram"></i></a>
          <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
          <a class="linke" href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </footer>
</body>
</html>