<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <div class="start">
    <div class="nav">
        <div class="left">
            <div class="home">
        <a href="/homepage"><i class="fa fa-home"></i></a>
          <a href="/homepage">Home</a>
        </div>
        <div class="home">
          <a href="/complainpage"><i class="fa fa-comment"></i></a>
          <a href="/complainpage">Complain</a>
        </div>
        <div class="home">
          <a href="#"><i class="fa fa-shield"></i></a>
          <a href="#">Policy</a>
          </div>
          <div class="home">
          <a href="/complainstatus"><i class="fa fa-sign-in"></i></a>
          <a href="/complainstatus">C-Status</a>
          </div>
          <div class="home">
          <a href="#"><i class="fa fa-question-circle"></i></a>
          <a href="#">Help Center</a>
          </div>
         

          

        </div>
        <div class="right">
           

            <a class="prof" href="/profile"><i class="fa fa-user"></i></a>
            <a class="pro" href="/profile">Profile</a>
            
        </div>
    </div>

    <div class="section">
       <div class="part-1">
          <img class="women" src="women.png">
          
          <p>Madhav Institute of Technology &amp; Science, Gwalior (M.P.), INDIA 
            <br>
            
              माधव प्रौद्योगिकी एवं विज्ञान संस्थान, ग्वालियर (म.प्र.), भारत 
          </p>
          <img class="logo" src="mits logo.png">
         
        </div>
    </div>
  </div> 

    <!-------------------------------------------------------------------------------------------------------->
    

    <div class="part-2">
      
    <div class="img-1">
      <img src="banner-1.jpg" width="100%">
    </div>
    <div class="img-1">
     <img src="banner-2.jpg" width="100%">
    </div>
    <div class="img-1">
      <img src="banner-3.jpg" width="100%">
    </div>
     
      <span class="prev" onclick="controller(-1)">&#10094</span>
      <span class="next" onclick="controller(1)">&#10095</span>
    </div>
<!------------------------------------------------------------------------------------------------------------>

    <div class="part-3">
      <h4>GIRLS ISSUE</h4>
      <div class="top">
      <div class="molest">
      <img src="molest.svg">
      <p>Molestation</p>
      </div>
      <div class="mental">
        <img src="mental_stress.svg">
        <p>Mental Stress</p>
      </div>
      <div class="acid">
        <img src="acid_attack.svg">
        <p>Acid Attack</p>
      </div>
    </div>
    <div class="bottom">
      <div class="bully">
        <img src="bullying.svg">
        <p>Bullying</p>
      </div>
      <div class="rape">
        <img src="rape.svg">
        <p>Rape/Attempt To Rape</p>
      </div>
      <div class="harrase">
        <img src="harassement.svg">
        <p>harassement</p>
      </div>
    </div>

    </div>
    <!---------------------------------------------------------------------------------------------------------->
 <footer>
    <div class="lt">
     
      <form>
        <p>Email</p>
        <input type="text" placeholder="Enter your valid email id">
      </form>
      <form class="name">
      <p>Name</p>
      <input type="text" placeholder="Enter Your Name">
      </form>
      <form>
        <p>Address</p>
        <input class="address" type="text" placeholder="Enter Your Address">
      </form>
      <form>
        <p>Message</p>
        <textarea rows="8" cols="50" name="comment" form="usrform">
          </textarea>
          
      </form>

      <form>
        <button>SUBMIT</button>
      </form>
    </div>

    <div class="rt">
      <h4>CONTACT US</h4>
      <img src="contact.avif" width="200px" height="200px">
      <div class="social">
        <a class="face" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twi" href="#"><i class="fa fa-twitter"></i></a>
        <a class="insta" href="#"><i class="fa fa-instagram"></i></a>
        <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
        <a class="linke" href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
    <script >let flag=0;
      function controller(x)
      {
          flag=flag+x;
          slideshow(flag);
          
      }
      slideshow(flag);
      
      function slideshow(num)
      {
          let image=document.getElementsByClassName('img-1');
          if(num==image.length)
          {
              flag=0;
              num=0;
          }
          if(num<0)
          {
              flag=image.length-1;
              num=image.length-1;
          }
          for(let y of image)
          {
              y.style.display="none";
          }
          image[num].style.display="block";
      }
      </script>
</body>
</html>