<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="adminhomepage.css">
  <title>Document</title>
 </head>

<body>
  <div class="section">
    <div class="part-1">
      <img class="women" src="women.png">

      <p>Madhav Institute of Technology &amp; Science, Gwalior (M.P.), INDIA
        <br>

        माधव प्रौद्योगिकी एवं विज्ञान संस्थान, ग्वालियर (म.प्र.), भारत
      </p>
      <img class="logo" src="mits logo.png">

    </div>

    <!-- ................Part to for feedback.............................. -->
    <div class="bodyfun">
      <div class="feedback">
        <h1>Feedback</h1>
        <hr>
        </hr>
        <div class="wrap1">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Search a feedback by Erollment">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div id="userfeedback"></div>
        </div>

      </div>
      <div class="complain">

        <h1>complains</h1>
        <hr>
        </hr>
        <div class="wrap2">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Search a complain by Enrollment">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div id="userContainer"></div>
        </div>


      </div>
    </div>
</body>
<script>
  fetch('/complaindataadmn')
  .then((data) => {
    return data.json();
  })
  .then((user) => {
    if(user.length==0){
      document.getElementById("userContainer").innerHTML = "<p>No complaints found.</p>";
    }
    else{
    const userBoxes = user.map((user) => {
      return `
      <table style="border-collapse: collapse; width: 60%; border: 1px solid #ddd; font-size:10.2px; margin-top:10px">
        <p style="font-size:18px;margin-left:200px;">Complainant Enrollment no. ${user.venrollment}</p>
        
        <tr style="background-color: #f5f5f5;">
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Accused Name</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Accused Branch</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Accused Department</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Incident Date</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Complain Type</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Complain Date</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Complain Id</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Status</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Approved</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Process</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Solved</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">reopen</th>
        </tr>
        <tr style="border-bottom: 1px solid #ddd;">
          <td style="padding: 8px; border-right: 1px solid black">${user.aname}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.abranch}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.adepartment}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.idate}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.ctype}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.cdate}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.complaintId}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.cstatus ? user.cstatus : "Waiting"}</td>
         <td><button style="border-radius:1px solid black;background-color:red;color:white;padding:8px;"  onclick="updateStatus('${user.complaintId}',this)">Approved</button></td>
         <td><button style="border-radius:1px solid black;background-color:red;color:white;padding:8px;" onclick="updateStatus1('${user.complaintId}',this)">Process</button></td>
         <td><button style="border-radius:1px solid black;background-color:red;color:white;padding:8px;" onclick="updateStatus2('${user.complaintId}',this)">Solved</button></td>
         <td><button style="border-radius:1px solid black;background-color:red;color:white;padding:8px;" onclick="updateStatus2('${user.complaintId}',this)">Reopen</button></td>
        </tr>
      </table>
      `;
    });
  

    document.getElementById("userContainer").innerHTML = userBoxes;
  }
  });


  fetch('/feedbackadmin')
  .then((data) => {
    return data.json();
  })
  .then((user) => {
    if (user.length === 0) {
      document.getElementById("userfeedback").innerHTML = "<p>No feedback found.</p>";
    }
    else{
    const userBoxes = user.map((user) => {
      
      return `
      <table style="border-collapse: collapse; width: 60%; border: 1px solid #ddd; font-size:10.2px; margin-top:10px">
        
        
        <tr style="background-color: #f5f5f5;">
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Name</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Mobile</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Address</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Feedback</th>
          <th style="color:black; padding: 8px; text-align: left; border-bottom: 1px solid #ddd; border-right: 1px solid black;">Complain ID</th>
          
        </tr>
        <tr style="border-bottom: 1px solid #ddd;">
          <td style="padding: 8px; border-right: 1px solid black">${user.fname}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.fmobile}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.faddress}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.fmsg}</td>
          <td style="padding: 8px; border-right: 1px solid black">${user.complaintId}</td>
          
        </tr>
      </table>
      `;
    });
  

    document.getElementById("userfeedback").innerHTML = userBoxes;
  }
  });

function updateStatus(complaintId, button) {
  fetch('/approved', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ complaintId: complaintId })
  })
    .then(response => {
      if (response.ok) {
        console.log('Status updated successfully');
        button.disabled = true; // Disable the button after it's clicked
        button.style.backgroundColor = 'green'; // Change the button color to green
        return;
      }
      throw new Error('Request failed');
    })
    .catch(error => {
      console.error('Error occurred while updating status:', error);
    });
}

function updateStatus1(complaintId, button) {
  fetch('/process', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ complaintId: complaintId })
  })
    .then(response => {
      if (response.ok) {
        console.log('Status updated successfully');
        button.disabled = true; // Disable the button after it's clicked
        button.style.backgroundColor = 'green'; // Change the button color to green
        button.innertext="closed";
        return;
      }
      throw new Error('Request failed');
    })
    .catch(error => {
      console.error('Error occurred while updating status:', error);
    });
}

function updateStatus2(complaintId, button) {
  fetch('/solved', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ complaintId: complaintId })
  })
    .then(response => {
      if (response.ok) {
        console.log('Status updated successfully');
        button.disabled = true; // Disable the button after it's clicked
        button.style.backgroundColor = 'green'; // Change the button color to green
        return;
      }
      throw new Error('Request failed');
    })
    .catch(error => {
      console.error('Error occurred while updating status:', error);
    });
}
</script>
</html>