<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminhomepage.css">
    <title>Document</title>
</head>
<body>
     <div class="section">
       <div class="part-1">
          <img class="women" src="women.png">
          
          <p>Madhav Institute of Technology &amp; Science, Gwalior (M.P.), INDIA 
            <br>
            
              माधव प्रौद्योगिकी एवं विज्ञान संस्थान, ग्वालियर (म.प्र.), भारत 
          </p>
          <img class="logo" src="mits logo.png">
         
        </div>

        <!-- ................Part to for feedback.............................. -->
        <div class="bodyfun">
            <div class="feedback">
                <h1>Feedback</h1>
                <hr></hr>

            </div>
            <div class="complain">

            </div>
        </div>
</body>
</html>